<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../head-1'); %>
    <body >
        <!---esse é o banner com todos os menus inclusive o de logar-->
        
        <div class="banner-container">
            <div class="logo-div">
                <img src="../assets/logo.png">
            </div>
            <div class="quadro-banner">
                <div class="title-div">
                    <h1 class="title">SP MEDICAL GROUP</h1>
                </div>
            </div>
            <div class="botao-inicio">
                <a  class="none" href="/index_admin_volta">
                <button class="button-azul">
                    Início
                </button></a>
            </div>
        
        <div class="botao-login-div">
            <a  class="none" href="../index.html">
            <button class="button-azul">
                Sair
            </button></a>
        </div>
        </div>
        <div class="consultas-container">
            <div class="titulo-div">
                <h1>Controle de Usuários</h1>
            </div>
            <!-- <div class="tabela-div"> -->
                <div class="tudo">
                <div class="login-container" id="login-container">
                <form action="/cadadmin" method="post" >
            
                    <input type="text" name="nome" id="nome" placeholder="Nome"  minlength="3" required><br><br>
                    
                    <input type="email" name="email" id="email" placeholder="Email" required><br><br>
                    <select id="especialidade" name="type">

                        <option>Administrador</option>
                        <option>Leitor</option>
                        <option >Doutor</option>
                    </select><br><br>
                    <input type="text" name="cpf" id="cpf"  \
			pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" \
			title="Digite o seu CPF no formato: xxx.xxx.xxx-xx"
            placeholder="CPF"><br>
            <input type="password" name="senha" id="senha" placeholder="Senha (Min 8 Caracteres)" minlength="8" required><br><br>
                    <input class="button-azul" type="submit" value="Adicionar"><br><br>
                    <button class="button-azul" onclick="revers()">Outra opção</button>
                  </form>
        
            </div>
            
              </div>
              <div class="descadastramento">
                <div class="login-container-revers" id="login-containerrevers">
                    <form action="/descadadmin" method="post">
                
                        <input type="text" name="nome" id="nome" placeholder="Nome" required><br><br>
                        
                        <input type="email" name="email" id="email" placeholder="Email" required><br><br>
                        <select id="especialidade" name="type">
    
                            <option>Administrador</option>
                            <option>Leitor</option>
                            <option >Doutor</option>
                        </select><br><br>
                        <input type="text" name="cpf" id="cpf"  \
			pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" \
			title="Digite o seu CPF no formato: xxx.xxx.xxx-xx"
            placeholder="CPF"><br>
            <input type="password" name="senha" id="senha" placeholder="Senha" minlength="8" required><br><br>
                        <input style="background-color: rgb(182, 9, 9);"  class="button-azul" type="submit" value="Remover"><br><br>
                       
                      </form>
                      <button class="button-azul" onclick="revers2()">Outra opção</button>
                </div>
              </div>
              
            </div>
        </div>
    </div>
<!--ABRINDO SCRIPT PARA A INTERATIVIDADE DE CONTROLES E INVERSÃO DE DISPLAY: BLOCK OU NONE !!!!!!!!!!!!!!!!!-->
<script>

    function revers(){
        //então, aqui é a declaração das divs !!!!
        let container_cadastro =  document.getElementById("login-container");
        let container_descadastro = document.getElementById("login-containerrevers");
        
            container_descadastro.style.display = 'block';
        
            container_cadastro.style.display = 'none';

    }
    function revers2(){
        //então, aqui é a declaração das divs !!!!
        let container_cadastro =  document.getElementById("login-container");
        let container_descadastro = document.getElementById("login-containerrevers");
        
            container_descadastro.style.display = 'none';
        
            container_cadastro.style.display = 'block';
            
    }

</script>



<!--------------------------------------------------------------------------------------------------------------->
    </body>
    <footer>
        <div class="div-endereço">
            <h3>R Jacarandás, São Manoel,200, Nova Odessa,SP, Brasil</h3>
        </div>
        <div class="div-telefone"></div>
        <h3>(19) 984456111</h3>
        <div class="redes">
            <div class="instagram-div">
                <img src="../assets/Instagram.png">
            </div>
            <div class="zap-div">
                <img src="../assets/Whatsapp.png">
            </div>
            <div class="facebook-div">
                <img src="../assets/Facebook.png">
            </div>
        </div>
        <div class="email"></div>
    </footer>
</html>