<!DOCTYPE html>
<html>
<head>
    <title>Sua Página EJS</title>
</head>
<body >
    
    <p>Nome: <%= nome %></p>
    <p>Senha: <%= senha %></p>
    <p>Email: <%= email %></p>
    <p>Type: <%= type %></p>



</body>
</html>
