<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>HOME|MEDICAL GROUP SP</title>
        <link rel="stylesheet" type="text/css" href="../styles.css">
        

    </head>
    <body >
        <!---esse é o banner com todos os menus inclusive o de logar-->
        
        <div class="banner-container">
            <div class="logo-div">
                <img src="">
            </div>
            <div class="quadro-banner">
                <div class="title-div">
                    <h1 class="title">SP MEDICAL GROUP</h1>
                </div>
            </div>
            <div class="botao-inicio">
                <a  class="none" href="../assets/admin.png">
                <button class="button-azul">
                    Início
                </button></a>
            </div>
        
        <div class="botao-login-div">
            <a  class="none" href="../index.html">
            <button class="button-azul">
                Sair
            </button></a>