<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>HOME|MEDICAL GROUP SP</title>
        <link rel="stylesheet" type="text/css" href="../styles.css">
        

    </head>
    <body>
        <!---esse é o banner com todos os menus inclusive o de logar-->
        <div class="banner-container">
            <div class="logo-div">
                <img src="../assets/doctor.png">
            </div>
            <div class="quadro-banner">
                <div class="title-div">
                    <h1 class="title">SP MEDICAL GROUP</h1>
                </div>
            </div>
            <div class="botao-inicio">
                <a class="none" href="index.html">
                <button class="button-azul">
                    Início
                </button> </a>
            </div>
        
        <div class="botao-login-div">
            <a class="none" href="../index.html">
            <button class="button-azul">
                Sair
            </button> </a>
        </div>
        </div>
        <!--esssa é aseção de botoes com funciionalidades-->
        <!--carossel de imagens dentro dessa div amigos-->
        <div class="secao-img-doctor">
            <div class="img-doctor">
                <img class="img-medic"src="../assets/img-medic.png">
            </div>
        </div>
        <div class="secao-botoes-doctor">
            <div class="botao-calendario">
                <a class="none" href="consultas.html">
                <button class="button-azul">
                Consultas</button></a>
            </div>
            <div class="botao-resultados">
                <a class="none" href="resultados.html">
                <button class="button-azul">
                Resultados </button></a>
            </div>
            <div class="botao-resultados">
                <a class="none" href="exames.html">
                <button class="button-azul">
                Exames </button></a>
            </div>
            <br>
            <br>
            <br>
        </div>
    </body>
    <!----rodape com contato amgos-->
    <footer>
        <div class="div-endereço">
            <h3>R Jacarandás, São Manoel,200, Nova Odessa,SP, Brasil</h3>
        </div>
        <div class="div-telefone"></div>
        <h3>(19) 984456111</h3>
        <div class="redes">
            <div class="instagram-div">
                <img src="../assets/Instagram.png">
            </div>
            <div class="zap-div">
                <img src="../assets/Whatsapp.png">
            </div>
            <div class="facebook-div">
                <img src="../assets/Facebook.png">
            </div>
        </div>
        <div class="email"></div>
    </footer>
</html>