<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../head-1'); %>
    <body>
        <!---esse é o banner com todos os menus inclusive o de logar-->
        <div class="banner-container">
            <div class="logo-div">
                <img src="../assets/logo.png">
            </div>
            <div class="quadro-banner">
                <div class="title-div">
                    <h1 class="title">SP MEDICAL GROUP</h1>
                </div>
            </div>
            
            
            


            <div class="botao-inicio">
                <a class="none" href="/index_doctor">
                <button class="button-azul">
                    Início
                </button> </a>
            </div>
        
        <div class="botao-login-div">
            <a class="none" href="/logout">
            <button class="button-azul">
                Sair
            </button> </a>
        </div>
        </div>
        <!--esssa é aseção de botoes com funciionalidades-->
        <!--carossel de imagens dentro dessa div amigos-->
        <div class="secao-img-doctor">
            <div class="img-doctor">
                <img class="img-medic"src="../assets/img-medic.png">
            </div>
        </div>
        <div class="secao-botoes-doctor">
            <div class="botao-calendario">
                <a class="none" href="/agendamentoview">
                <button class="button-azul">
                Consultas</button></a>
            </div>
            <div class="botao-resultados">
                <a class="none" href="/view_exames_all">
                <button class="button-azul">
                Exames </button></a>
            </div>
            <div class="botao-resultados">
                <a class="none" href="/exames_doctor">
                <button class="button-azul">
                Marcar exame </button></a>
            </div>
            <br>
            <br>
            <br>
        </div>
    </body>
    <!----rodape com contato amgos-->
    <%- include('../footer'); %>

</html>