html {
  height: 100%;
  width: 100%;
  background-color: #E7E4E4;
  
}
/*corpo do site*/
html {
  height: 100%;
  width: 100%;
  background-color: #E7E4E4;
  border-color: rgb #E7E4E4;
  
}
body{
margin: 0px;
  height: 100%;
  width: 100%;
  
}
.homepage{


    border-color: rgb #E7E4E4;
    border-style: solid #E7E4E4;
    background-color: #002F75;
   opacity:80%;
   font-size: 50px;
   }

.logo {
  position: left;
  width: 10%;
  height: 10%;
}
  .titulo1 {
  color: white;
  text-align: center;
  }
  .titulocadastro {
text-align: center;

    
  }
.formulario {

  display: flex;
  justify-content: center;
<<<<<<< HEAD
  
}
.final{
background-color: white;
  text-align: center;


  
  
}


.date{

  min-width: 200px;
min-height: 50px;
font-size: 20px;

}

#opçoes{
  min-width: 200px;
  min-height: 50px;
  font-size: 20px;
}
<<<<<<< HEAD
=======

.final {
  display:grid;
  position:absolute;
background-color: white;
  text-align: center;
  margin-top:60%;
  padding:0px;
  width: 100%;
}

