/* HTML INTEIRO*/
html {
  height: 100%;
  width: 100%;
  background-color: #E7E4E4;
}
/*CORPO DO SITE(BODY)*/
body{
  margin: 0px;
}
/*É O BANNER A HOMEPAGE*/
.homepage{
   
    background-color: #002F75;
   opacity:80%;
   height:100%;
   width: 100%;
}
/* é ONDE FICA OS BOTOES E O ESPAÇAMENTO VAZIO*/
.centro {
  border-width: 0px;
background-color: #e7e4e4;
  opacity: 100%;
text-align: center;
 
  
}
/* É O TITULO DO SITE*/
.titulo1 {
  color: white;
  text-align: center;
 font-size: 50px;
}
/* LOGO DO SITE*/
.logo {
  position: left;
  width: 10%;
  height: 10%;
}
/* RODAPÉ DO SITE*/
.final {
background-color: white;
  text-align: center;
margin-top:10px;
}
/* CENTRO VAZIO COM O ESPAÇAMENTO ATÉ O RODAPÉ*/
.centrovazio {

   background-color: #E7E4E4;
  border-color: rgb #E7E4E4;
  border-width: 20px;
}
/* É O TEXTO DA IMAGEM "EMPATIA*/
.empatia{
 font-size: 30px;
  color:white;
}
/* É O TEXTO DA IMAGEM "SERIEDADE*/
.seriedade{
font-size: 30px;
  color:white;
  text-align: 
}
/* É O TEXTO DESCRISÃO DA IMAGEM"RESPEITO*/
.respeito{
 color:white;
 font-size: 30px;
 right:-10px;
}
/* É A DIV COM AS DESCRISÕES DAS IMAGENS*/
.texto{
  
}
/* É O CARROSSEL DE IMAGENS*/
.centroimagem{
  
 display: inline-block;

min-width: 504px;
min-width: 3304px;
}
/* DIV QUE FICA A IMAGEM COM A DESCRISÃO "EMPATIA*/
.divempatia{
  display: inline-block;
  width: 526px;
  height: 336px;
  
}
/* DIV QUE FICA A IMAGEM COM A DESCRISÃO "SERIEDADE*/
.divseriedade{
  display: inline-block;
    width: 526px;
    height: 336px;

  }
  /* DIV QUE FICA A IMAGEM COM A DESCRISÃO "CUIDADO*/
  .divcuidado{
    display: inline-block;
    width: 526px;
    height: 336px;
    
    
    }
    /* DIV QUE FICA COM AS IMAGENS DO CARROSEL*/
    .imagenshome{
      
      opacity: 80%;
      background: #002F75;
/* min-height:504px;
min-width:3304px; */
min-width: 67%;
  min-height: 67%;
    
    }
    /*IMAGEM MAIOR QUE AS OUTRAS DO CARROSEL POR ISSO A MODIFICAÇÃO*/
    .cuidadoimg{
width: ; 
height: ;
    }
/*seção de botoes para ficar no centro*/
.iniciobtn{
  display: inline-block;
  
}
.btn2home{
  display: inline-block;
}
.btn3home{
  display: inline-block;
}
.btn4home{
  display: inline-block;
}
.btn5home{
  display: inline-block;
}
.btn6home{
  display: inline-block;
}
/*espaçamento do carrossel*/

.divempatia{
  margin-left:10%;
  margin-right:5%;
  
}
.divseriedade{
 margin-right:5%;
 margin-left:5%;  
}
.divcuidado{
  margin-left:5%;
  margin-right:10%;
}
/*personalizando tamanho fonte e caixa do botão*/
.btn1{
  width: 200px;
  height: 50px;
  font-size: 20px;
}
.btn2{
  width: 200px;
  height: 50px;
  font-size: 20px;
}
.btn3{
  width: 200px;
  height: 50px;
  font-size: 20px;
}
.btn4{width: 200px;
  height: 50px;
  font-size: 20px;}
  .btn5{
    width: 200px;
  height: 50px;
  font-size: 20px;
  }
  .btn6{
    width: 200px;
  height: 50px;
  font-size: 20px;
  }
  /*rodapé*/
  .final{
    display:grid;
  position:absolute;
background-color: white;
  text-align: center;
  margin-top:60%;
  padding:0px;
  width: 100%;
  font-size: 30px;
  }
