html {
  height: 100%;
  width: 100%;
  background-color:#E7E4E4 ;
  
}
/*corpo do site*/
body{
  margin: 0px;
  height: 100%;
  width: 100%;
}
.homepage{

border-width: 0px;
    border-color: rgb #E7E4E4;
    border-style: solid #E7E4E4;
    background-color: #002F75;
  opacity : 80%;
  font-size: 50px;
  }


.titulo1{
  color:white;
  text-align: center;
}
.titulo2 {
  text-align: center;
  font-size:80px;
}
  .logo {
    width: 10%;
    height: 10%;
  }

  .tabela{
display: flex;
justify-content: center;
min-width: 100px;
min-height: 200px;
  font-size: 50px;
}
  .final {
  background-color: white;

}
 
.btn1{
  min-width: 200px;
  min-height: 50px;
  font-size: 30px;
}
.btn2{
  min-width: 200px;
  min-height: 50px;
  font-size: 30px;
}



 
