html{
    background-color: #E7E4E4;
    display: flex;
    justify-content: center;
    
}
body{
    background-color: #E7E4E4;
    position: relative;
    margin:0px;
    width: 1366px;
    height: 1523px;
}
.areasuperior{
    margin-top:50px;
    padding: 0px;
    position: relative;
}
.logo, .banner, .botaoentrar{
    display: inline-block;
}
h1{
    text-align: center;
    font-size: 96px;
}

/*bannerdapaginaprincipal*/
.botaoentrar{
    text-align: left;
}
.logo{
}

.banner{
    right:0px;
    width: 1000px;
    height: 400px;    
    background-color: #002F75;
    position: absolute;
    border-radius: 2%;
}
.titulo{
    text-decoration: solid;
    color:#E7E4E4;
    margin-top: 114px;
}
.botaoazul{
    height:91px;
    width: 301px;
    background-color: #002F75;
    border-style: none;
    border-radius: 8%;
    font-size: 36px;
    color: #ffffff;
}
.botaoazulsemborda{
    height:91px;
    width: 301px;
    background-color: #002F75;
    border-style: none;
    font-size: 36px;
    color: #ffffff;
    border-radius: 5px;
}
.botaoinicio{
    display: inline-block;
    position: absolute;
    top: 290px;
    left: 80px; 
}

/*outro botao*/
.botaoinferioraobanner{

    margin-top: 110px;
    margin-left: 365px; 
    margin-bottom: 50px;
}
/*seçãod de botoes*/
.conteudos,.agendamento,.medicos,.Resultadosdeexames,.termos,.planos{
    display: inline-block;
    margin: 20px;
    text-align: center;
}   
.secaodebotoes{
    text-align: right;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*carrosel*/
.carrosel{
    background-color: #002F75;
    padding:30px;
}
.empatia, .seriedade, .cuidado{
    display: inline-block;
    width: 368px;
    height: 263px;
    margin: 30px;
    color: #ffffff;
    text-align: center;
}
.imgcarrosel{
    height: 100%;
    width: 100%;
    margin:0px;
}
.h3c{
   font-size: 32px;
   
}
/*rodapé*/
footer{
    margin-top: 400px;
    background-color: #ffffff;

}
.localizacao, .redes, .insta, .whats, .face, .telefone, .email{
    display: inline-block;
}
.localizacao{
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}
.ftoimg{
  width: 50px;
  height: 50px;
}