<!DOCTYPE html>
<html lang="pt-br">
    <%- include('head-1'); %>
    <body>
        

        <!---esse é o banner com todos os menus inclusive o de logar-->
        <div class="banner-container">
            <div class="logo-div">
                <img src="assets/logo.png">
            </div>
            <div class="quadro-banner">
                <div class="title-div">
                    <h1 class="title">SP MEDICAL GROUP</h1>
                </div>
            </div>
            <div class="botao-inicio">
                <a  class="none" href="/user">
                <button class="button-azul">
                    Início
                </button> </a>
            </div>
            <div class="botao-login-div">
                <a  class="none" href="/logout">
                <button class="button-azul">
                    Sair
                </button></a>
            </div>
        </div>
        <div class="container-titulo">
        <titulo-div>
            <h1>Agendamento</h1>
        </titulo-div></div>
        <div class="consulta-container">
            <form action="/consulta" method="post">
            <div class="nome-div">
                <input id="paciente" name="nome" type="text" placeholder="Digite seu nome:" required minlength="3">
            </div>
            <div class="nome-div">
                <input id="paciente" name="idade" type="number" placeholder="Sua idade:"  max="130" required>
            </div>
            <div class="select-div">
                <select name="especialidade" id="especialidade" placeholder="Selecione a especialidade desejada:">
                    <option value="Pediatría">Pediatría</option>
                    <option value="Cardiologista">Cardiologista</option>
                    <option value="Odontologia">Odontologia</option>
                    <option value="Nutrição">Nutrição</option>
                    <option value="Ginecologista">Ginecologista</option>
                    <option value="Urologista">Urologista</option>
                    <option value="Dentista">Dentista</option>
                    <option value="Psícologo">Psícologia</option>



                </select>
            </div>
            <div class="cpf-div">
                <input name="motivo" id="dor" type="text" placeholder="Digite a dor ou intenção:" maxlength="40" required>
            </div>
            <div class="data-div">
                <input name="dia" id="dor" type="date" placeholder="Selecione o dia desejado:" required>
            </div>
            <div class="data-div">
                <input name="hora" id="dia" type="time" placeholder="Selecione a hora desejada:" required>
            </div>
            <div class="data-div">
                <select name="deficiencia" id="especialidade" placeholder="Você possuí alguma deficiência:">
                    <option value="Nenhuma">Nenhuma</option>
                    <option value="Física">Física</option>
                    <option value="Mental">Mental</option>
                  



                </select>
            </div>
            <div class="botao-div">
                
                <button type="submit" class="button-azul">Marcar</button>
            </div>
        </form>
        </div>

    </body>
    <%- include('footer'); %>
</html>