<!DOCTYPE html>
<html lang="pt-br">

<%- include('head-1'); %>

<body>
    <!---esse é o banner com todos os menus inclusive o de logar-->
    <div class="banner-container">
        <div class="logo-div">
            <img src="assets/logo.png">
        </div>
        <div class="quadro-banner">
            <div class="title-div">
                <h1 class="title">SP MEDICAL GROUP</h1>
            </div>
        </div>
        <div class="botao-inicio">
            <a href="index.html" class="none">
                <button class="button-azul">
                    Início
                </button></a>
        </div>
    </div>
    <div class="login-container">
        <form action="/cadastro" method="post">
    
            <input type="text" name="nome" id="nome" placeholder="Nome" required><br><br>
            
            <input type="email" name="email" id="email" placeholder="Email" required><br><br>
            
            <input type="password" name="senha" id="senha" placeholder="Senha" required><br><br>
            <input class="button-azul" type="submit" value="Cadastrar">
          </form>

    </div>

    <%- include('footer'); %>
</body>

</html>