<html>
    
<%- include('head-1'); %>
 

        <!---esse é o banner com todos os menus inclusive o de logar-->
        

<body>
   <style>
    body{
        margin-top: 300px;
        text-align: center;
    }
   </style>
    <h1>Dados incorretos!</h1>
    <a href="index.html">

        <button class="button-azul">Tentar novamente!</button>

    </a>
</body>
</html>