<footer>
    <div class="div-endereço">
        <h3>R Jacarandás, São Manoel,200, Nova Odessa,SP, Brasil</h3>
    </div>
    <div class="div-telefone"></div>
    <h3>(19) 984456111</h3>
    <div class="redes">
        <a href="#"> <div class="instagram-div">
            <img src="assets/Instagram.png">
        </div></a>

        <a href="#">
        <div class="zap-div">
            <img src="assets/Whatsapp.png">
        </div></a>

    <a href="#">
        <div class="facebook-div">
            <img src="assets/Facebook.png">
        </div>
    </div></a> 


    <style>
        a img:hover{
            width: 80%;
            height: 80%;
        }
    </style>
    <div class="email"></div>
</footer>