<!DOCTYPE html>
<html lang="pt-br">
    <%- include('head-1'); %>
    <body>

        <!---esse é o banner com todos os menus inclusive o de logar-->
        <%- include('header'); %>


        <div class="login-container">
            <form action="/login" method="post">
            <div class="email-div">
                <input  id="email"type="text" name="nome" placeholder="Digite seu nome:">
            </div>
            <div class="senha-div">
                <input id="senha" type="password" name="senha" placeholder="Digite sua senha:">
            </div>
            <div class="botao-div">
                <button type="submit" class="button-azul">Entrar</button>
            </div>
            
        </form>
        <br>
        <a href="/hrefcadastro"> <button class="button-azul">Se cadastrar</button></a>
        </div>
    </body>
<%- include('footer'); %>

</html>