<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<%- include('header-logado'); %>

<style>
    form{
        margin-top: 50px;
        text-align: center;
    }
</style>
</body>
<form action="/select" method="post">
    <h1>Vizualizar suas consultas</h1><br>
    <input type="text" id="email" name="nome" placeholder="Digite seu nome:"><br>
    <input class="button-azul" type="submit" value="Enviar">
</form>
<%- include('footer'); %>