<!DOCTYPE html>
<html>
<head>
    <title>Exames | Medical Group SP</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<%- include('header-logado'); %>
<body>

<div class="container-exames">

<div class="form-exames">
    <form method="post" action="select_user_exame">

<input type="text" class="input-persona" name="name">

<input type="submit" class="button-azul" value="Selecionar">


    </form>
</div>
</div>



</body>
<%- include('footer'); %>
</html>