<!DOCTYPE html>
<html>
    <%- include('head-1'); %>

<%- include('header-logado'); %>
<body>

<div class="container-exames">

<div class="form-exames">
    <form method="post" action="select_user_exame">

<input type="text" class="input-persona" name="name">

<input type="submit" class="button-azul" value="Selecionar">


    </form>
</div>
</div>



</body>
<%- include('footer'); %>
</html>